{% extends "layout.html" %}

{% block title %}
    Thank you.
{% endblock %}

{% block top %}
    <h1 class="display-3 text-light">Thank you CS50 staff!</h1>
        <p>A thank you from a student in Sydney, Australia.</p>
{% endblock %}

{% block main %}
    <h1> Thank you for an amazing course!!</h1>
    <p>
        Wow, what an incredible journey!
    </p>
    <p>
        As someone looking for a career change into development, I took an online course from MITx which focused on Python. After completing it I told one of my Computer Science friends, who promptly replied with "you haven't really learnt coding until you have done C".
    </p>
    <p>
        I then looked back on when I first learned C, in 2018 with CS50. At that time I gave up, and now challenged and with a renewed sense of confidence I decided to have another crack at this course. I am so glad I did!! It was definitely more
        challenging than the previous Python course, weaving through many more languages and real world concepts. I'm really proud of my development over the time of this course and I just wanted to end on the following note.
    </p>
    <p>
        Thank you so much for making this course available, the flexibility and cost of taking this is really amazing for the level of teaching you get. Thank you David J. Malan for the engaging lectures, and Brian Yu and Doug Lloyd for the walkthroughs and course exercises.
    </p>
    <p>
        A proud CS50 alumni
    </p>
    <p>
        Joseph
    </p>
{% endblock %}