{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input id= "username" input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input id= 'password' input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input id='passwordCheck' input class="form-control" name="passwordCheck" placeholder="Confirm password" type="password">
        </div>
        <input id="submit" button class="btn btn-primary" type="submit" disabled></button>
    </form>

    <script>
        document.querySelector('#passwordCheck').onkeyup = function() {
            if (document.querySelector('#password').value === document.querySelector('#passwordCheck').value) {
                document.querySelector('#submit').disabled = false;
            } else {
                document.querySelector('#submit').disabled = true;
            }
        }
    </script>
{% endblock %}
